@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  /* .bg-banner {
    background: url("https://i.imgur.com/pAwwjuq.jpeg");
    background-size: cover;
  } */
  .bg-banner {
    background: url("/assets/loginbg.jpeg");
    background-size: cover;
  }
}
